/* 
Breakpoints (in pixels):
    Extra small (xsm):       <  576 (default)
    Small (sm):              >= 576
    Medium (md):             >= 768
    Large (lg):              >= 992
    Extra large (xl):        >= 1200
    Extra extra large (xxl): >= 1400   
*/

/* Breakpoint clues default theme */
:root {
  --bpclue-xsm-bg-color: Yellow;
  --bpclue-sm-bg-color: Gold;
  --bpclue-md-bg-color: Khaki;
  --bpclue-lg-bg-color: White;
  --bpclue-xl-bg-color: Lavender;
  --bpclue-xxl-bg-color: Thistle;
}

/* Break clues classes */
.bpclue-xsm-bg-color {
  background: var(--bpclue-xsm-bg-color) !important;
}
.bpclue-sm-bg-color {
  background: var(--bpclue-sm-bg-color) !important;
}
.bpclue-md-bg-color {
  background: var(--bpclue-md-bg-color) !important;
}
.bpclue-lg-bg-color {
  background: var(--bpclue-lg-bg-color) !important;
}
.bpclue-xl-bg-color {
  background: var(--bpclue-xl-bg-color) !important;
}
.bpclue-xxl-bg-color {
  background: var(--bpclue-xxl-bg-color) !important;
}

/* Breakpoint clues page body styling */

/* 'xsm' (default) applies to extra-small devices (less than 576px, portrait phones) */
body {
  background: var(--bpclue-xsm-bg-color) !important;
}

/* 'sm' applies to small devices (576px - 767px, portrait phones) */
@media (min-width: 576px) {
  body {
    background: var(--bpclue-sm-bg-color) !important;
  }
}

/* 'md' applies to medium devices (768px - 991px, landscape phones) */
@media (min-width: 768px) {
  body {
    background: var(--bpclue-md-bg-color) !important;
  }
}

/* 'lg' applies to large devices (992px - 1199px, tablets) */
@media (min-width: 992px) {
  body {
    background: var(--bpclue-lg-bg-color) !important;
  }
}

/* 'xl' applies to extra-large devices (1200px - 1399 px, desktops) */
@media (min-width: 1200px) {
  body {
    background: var(--bpclue-xl-bg-color) !important;
  }
}

/* 'xxl' applies to extra-extra-large devices (more than 1400px, large desktops) */
@media (min-width: 1400px) {
  body {
    background: var(--bpclue-xxl-bg-color) !important;
  }
}
